@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap');
:root {
  --b-color: white;
  --link-color: royalblue;
}
a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.mya {
  color: black; 
  transition: all .3s ease-in-out;
  text-decoration: none;
}
a.mya:hover {
  color: var(--link-color);
}
img {
  border-radius: .3rem;
}
figcaption {
  font-size: 12px;
}
details {
  margin-bottom: 16px;
}
code {
  font-family: 'Inconsolata', 'Noto Sans JP';
  font-weight: 500;
  line-height: 1.4;
  border: solid lightgray 1px;
  border-radius: .3rem;
}
button.hoge {
  font-weight: bold;
  padding: 0.5em 1em;
  background-color: #EEE;
  border-radius: 0.7em;
}
#menu_t {
  font-size: 24px;
  font-weight: 600;
}
#menu_m {
  margin-top: 48px;
  font-size: 20px;
  font-weight: 500;
}
#article_title {
  line-height: 1.0;
}
#article_date {
  font-size: 16px;
  font-weight: 200;
}

@media (min-width: 768px) {
  html {
    scroll-padding-top: 15px;
  }
  body {
    margin: 2.5% 5% 5% 5%;
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
    letter-spacing: 0.05em;
    line-height: 1.8;
    color: var(--font-color);
    background-color: var(--b-color);
  }
  #menu {
    float: left;
    width: 20%;
    line-height: 1.5;
    user-select: none;
    position: fixed;
    top: 54px;
  }
  #menu2 {
    float: left;
    width: 20%;
    font-size: 90%;
    font-weight: 300;
    line-height: 1.6;
    user-select: none;
    position: fixed;
    bottom: 39px;
  }
  #main {
    float: right;
    width: 70%;
    margin-bottom: 5%;
  }
  .image1 {
    width: 100%;
  }
  .image2 {
    width: 512px;
  }
  .image3 {
    width: 48%;
  }
  #breadcrumbs {
    font-weight: 300;
  }
  #menu_forPhone {
    display: none;
  }
  #article_title2 {
    line-height: 1.0;
  }
}
@media (max-width: 768px) {
  html {
    scroll-padding-top: 65px;
  }
  body {
    margin: 0% 5% 5% 5%;
    font-family: 'Inter', 'Noto Sans JP', sans-serif;
    letter-spacing: 0.05em;
    line-height: 1.8;
    color: var(--font-color);
    background-color: var(--b-color);
  }
  figure {
    margin: 0;
  }
  h2 {
    line-height: 1.4;
  }
  .image1 {
    width: 100%;
  }
  .image2 {
    width: 100%;
  }
  .image3 {
    width: 100%;
  }
  #menu, #menu2 {
    display: none;
  }
  #main {
    margin: 14% 0 0 0;
  }
  #menu_forPhone {
    user-select: none;
    padding: 20px;
  }
  #forPhone_ju {
    position: fixed;
    top: 10px;
    left: 5%;
    font-size: 16px;
    font-weight: 500;
    z-index: 1;
  }
  #menu_list {
    list-style: none;
    position: fixed;
    top: 25px;
    left: 0;
    opacity: 0;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: all .3s ease;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.4;
  }
  #pagetop {
    font-size: 70%;
  }
  #breadcrumbs {
    font-size: 70%;
    line-height: 2.4;
  }
  #menu_board,
  #menu_board2 {
    position: fixed;
    top: -5px;
    left: -5%;
    width: 110%;
    height: 55px;
    background-color: white;
    border: solid black 1.5px;
    transform-origin: center;
    transition: all .3s ease;
  }
  .label-b {
    position: fixed;
    top: 0;
    right: 0;
    width: 70px;
    height: 50px;
    cursor: pointer;
    z-index: 2;
  }
  .btn {
    position: fixed;
    top: 18px;
    right: 5%;
    width: 25px;
    height: 14px;
    z-index: 1;
  }
  .btn span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    transition: all .3s ease;
    background-color: black;
  }
  .btn span:nth-of-type(1) {
    top: 0;
  }
  .btn span:nth-of-type(2) {
    bottom: 0;
  }

  .i-btn:checked ~ #btn span {
    background-color: royalblue;
  }
  .i-btn:checked ~ #btn span:nth-of-type(1) {
    transform: translate(0, 6px) rotate(-35deg);
  }
  .i-btn:checked ~ #btn span:nth-of-type(2) {
    transform: translate(0, -6px) rotate(35deg);
  }
  .i-btn:checked ~ #menu_board {
    border: solid royalblue 1.5px;
    height: 270px;
  }
  .i-btn:checked ~ #menu_board2 {
    border: solid royalblue 1.5px;
    height: 230px;
  }
  .i-btn:checked ~ #menu_list {
    opacity: 1;
    transform: scale(1, 1);
  }
  .i-btn {
    display: none;
  }
  #article_title2 {
    line-height: 1.0;
    font-size: 24px;
  }
}
